h1 {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
}
p {
    color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    text-align: center;
}
h2 {
    text-align: end;
}
img {
    border: 10px solid aqua;
}
table {
    border: 3px solid black;
    opacity: 50%;
    color-scheme: green;
}
body {
    background-image: url("lumi.jpg");
}

.column {
    width: 50%; /* Võib olla ka muu protsent või kindel pikslite arv */
    box-sizing: border-box;
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
}